/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  display: grid;
  justify-content: center;
  margin-block-start: 100px;
  margin-block-end: 100px;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font);
  font-variation-settings: 'wght' var(--font-weight-card-text);
  font-size: var(--font-size-m);
  font-weight: var(--font-weight-card-text);
  line-height: 116.667%;
  background-color: var(--themes-background-color);
  color: var(--themes-main-color);
  background-image: var(--background);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block-start: clamp(7.5rem, 6.3318rem + 4.9844vw, 8.5rem);
  padding-block-end: 20px;
  padding-inline: clamp(0.8125rem, -6.9038rem + 32.9231vw, 7.5rem);
  border: 2px solid var(--themes-main-color);
  background-color: var(--themes-background-color);
}

.header__title {
  font-family: var(--accent-font);
  font-size: clamp(3.0625rem, 1.921rem + 4.9231vw, 4.0625rem);
  font-weight: 400;
  line-height: normal;
  color: var(--themes-main-color);
  margin-block-end: 20px;
  text-decoration: none;
  cursor: default;
}

.header__title:focus {
  outline: none;
}

.header__description {
  font-family: var(--accent-font);
  font-size: clamp(0.875rem, 0.226rem + 2.7692vw, 1.4375rem);
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  color: var(--themes-main-color);
  margin-block-end: 25px;
}

.header__theme-menu {
  margin-inline-start: 20px;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  font-family: var(--accent-font);
  font-size: var(--font-size-s);
  line-height: normal;
  gap: 10px;
}

.theme-menu__button {
  position: relative;
  text-transform: uppercase;
  border: none;
  background: transparent;
  opacity: 1;
  transition: opacity 0.3s;
}

.theme-menu__button:hover,
.theme-menu__button:disabled {
  cursor: pointer;
  opacity: 0.6;
}

.theme-menu__button:focus {
  outline: none;
  opacity: 0.6;
}

.theme-menu__button:disabled {
  cursor: none;
  pointer-events: none;
}

.theme-menu__button:after {
  content: '';
  position: relative;
  display: block;
  inline-size: 0%;
  block-size: 2px;
  background-color: var(--themes-main-color);
  transition: inline-size 0.3s;
}

.theme-menu__button:focus-visible::after {
  inline-size: 100%;
}

.theme-menu__button:disabled::before {
  content: '▶';
  position: absolute;
  top: 0;
  left: 5px;
}

@media (prefers-reduced-motion: no-preference) {
  .theme-menu__button:disabled::before {
    animation: theme-menu__pointer 0.5s infinite alternate ease-in-out;;
  }
}

.main {
  display: flex;
  flex-direction: column;

}

.main__content {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-block-start: 100px;
  margin-block-end: 50px;
}

.content__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid var(--themes-main-color);
  background-color: var(--themes-background-color);
  max-inline-size: 696px;
}

.card__title {
  align-self: start;
  font-family: inherit;
  font-size: var(--font-size-m);
  font-variation-settings: 'wght' var(--font-weight-card-title);
  line-height: normal;
  padding-block: 6px;
  padding-inline: 10px;
  color: inherit;
}

.card__image-container {
  display: grid;
  position: relative;
  aspect-ratio: 1;
  border-block: 2px solid var(--themes-main-color);
}

.card__image {
  width: 100%;
  min-height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
}

.card__image-label {
  position: absolute;
  top: 25px;
  right: 25px;
  justify-self: end;
  font-family: var(--accent-font);
  font-size: var(--font-size-s);
  text-shadow:
    -1px 0 var(--text-stroke-color),
    0 1px var(--text-stroke-color),
    1px 0 var(--text-stroke-color),
    0 -1px var(--text-stroke-color);
  opacity: 0.5;
  mix-blend-mode: hard-light;
}

@supports((text-stroke: 1px var(--text-stroke-color)) or (-webkit-text-stroke: 1px var(--text-stroke-color))) {

  .card__image-label {
    -webkit-text-stroke: 1px var(--text-stroke-color);
    text-stroke: 1px var(--text-stroke-color);
    text-shadow: none;
  }

}

.card__text-container {
  display: flex;
  flex-direction: column;
  gap: 27px;
  padding-block: 28px;
  padding-inline: 25px;
}

.card__text {
  line-height: 21px;
}

.card__button-container {
  display: flex;
  flex-direction: row;
  padding-block-end: 25px;
  padding-inline: 25px;
  align-self: end;
  gap: 4px;
}

.button__color-fill {
  position: relative;
  border: 2px solid var(--themes-main-color);
  transition: box-shadow 0.3s;
  background-color: var(--themes-background-color);
}

.button__color-fill::before {
  content: '';
  position: absolute;
  inset: 0;
  transform: scaleX(0);
  transform-origin: left;
  background-color: var(--themes-main-color);
  transition: transform 0.5s ease-in-out;

}

.button__color-fill:hover::before {
  transform: scaleX(1);
}

.button__color-fill:hover {
  cursor: pointer;
  /* mix-blend-mode: difference; */
}

.button__color-fill:focus {
  outline: none;
}

.button__color-fill:focus-visible {
  box-shadow: 2px 2px 0px 0px var(--themes-main-color);
}

.card__icon-button {
  display: flex;
  align-items: center;
  cursor: pointer;
  background-color: transparent;
  border: 2px solid transparent;
  transition: border 0.3s;
  padding: 0;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--themes-main-color);
}

.like-icon {
  inline-size: 39px;
  block-size: 36px;
  width: fit-content;
}

.card__like-button {
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: 130px;
  min-height: 38px;
}

.button__text {
  font-family: var(--accent-font);
  font-size: var(--font-size-s);
  font-weight: 400;
  line-height: 90%;
  z-index: 2;
  color: var(--button-difference-color);
  mix-blend-mode: difference;
}

.main__dialog-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.dialog-button__open {
  display: flex;
  align-items: center;
  flex-direction: row;
  padding-block: 15px;
  padding-inline: 20px;
  gap: 8px;
  background-color: var(--themes-background-color);
}

.icon-floppy {
  block-size: 39px;
  inline-size: 39px;
}

.button__color-fill > .icon-floppy {
  block-size: 21px;
  inline-size: 21px;
  color: var(--button-difference-color);
  mix-blend-mode: difference;
}

.icon-floppy__text {
  font-family: var(--accent-font);
  font-size: var(--font-size-s);
  color: var(--button-difference-color);
  mix-blend-mode: difference;
  font-weight: inherit;
  line-height: 90%;
  z-index: 2;
}

.dialog__popup-container::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

.dialog__popup-container:is([open]) {
  display: grid;
  grid-template-areas: 
    'A B'
    'C C';
  gap: 20px;
  background-color: var(--themes-background-color);
  border: 2px solid var(--themes-main-color);
  width: clamp(21.5625rem, 20.4087rem + 4.9231vw, 22.5625rem);
  padding-inline: clamp(2.625rem, 3.3462rem + -3.0769vw, 2rem);
  padding-block: 32px;
}

.dialog__icon-floppy {
  grid-area: A;
  align-self: center;
  color: var(--themes-main-color);
  z-index: 2;
}

.dialog__text {
  grid-area: B;
  font-family: var(--accent-font);
  font-size: var(--font-size-s);
  font-weight: 400;
  line-height: 150%;
  text-transform: uppercase;
  color: var(--themes-main-color);
}

.dialog__form {
  display: contents;
}

.dialog-button__close {
  grid-area: C;
  margin-block-start: 10px;
  padding-block: 9px;
  padding-inline: 17px;
  background: transparent;
  color: var(--themes-main-color);
}

.filter-brightness {
  filter: brightness(150%);
}

.filter-sepia {
  filter: sepia(80%);
}

.filter-hue-rotate {
  filter: hue-rotate(-90deg);
}

.filter-contrast {
  filter: contrast(50%);
}

.filter-blur {
  filter: blur(0.5rem);
}

.filter-opacity {
  filter: opacity(0.6);
}

.filter-saturate {
  filter: saturate(15%);
}

.filter-grayscale_invert {
  filter: grayscale(0.9) invert(0.7);
}

@media (width <= 375px) {

  .dialog-button__open {
    flex-direction: column;
    align-items: center;
    padding-inline: 20px;
  }

  .button__color-fill > .icon-floppy {
    block-size: 28px;
    inline-size: 28px;
  }

}