/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root {
    --main-font: 'Inter-Variable', sans-serif;
    --font-weight-card-title: 700;
    --font-weight-card-text: 400;
    --accent-font: 'PressStart2P', fantasy;
    --font-size-s: 0.875rem;
    --font-size-m: 1.125rem;
    --themes-background-color: #FFFFFF;
    --themes-main-color: #000000;
    --text-stroke-color: #FFFFFF;
    --button-difference-color: #FFFFFF;
    --heart-icon-sparks-color: #FF0000;
    --background-gradient-main: #d3d3d3;
    --background-gradient-additional-from: #e7e7e7;
    --background-gradient-additional-to: #1a1a1a;
    --background: 
        repeating-linear-gradient(90deg, var(--background-gradient-main), var(--background-gradient-main) 2px, transparent 2px, transparent 4px),
        repeating-linear-gradient(180deg, var(--background-gradient-main), var(--background-gradient-main) 2px, transparent 2px, transparent 4px),
        linear-gradient(180deg, var(--background-gradient-additional-from) 0.01%, var(--background-gradient-additional-to));
}